body {
	background-color: #f4f5f6;
}

.container-xl {
	max-width: 1310px;
	background-color: white;
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 5rem;
	font-weight: 400;
}

.nav-item {
	font-size: 21px;
	line-height: 24px;
	font-weight: 700;
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
	border-left-color: #d9d9d9;
	border-left-style: solid;
	width: 100%;
}

#navbar-links {
	min-height: 50px;
	margin-bottom: 20px;
	border-bottom: 2px solid #d6d6d6;
}

.title-section {
	font-size: 15px;
	font-weight: bold;
}

.title-article-img {
	font-weight: bold;
	color: #f72210;
	position: absolute;
	left: 0;
	bottom: 0;
}

.title-article {
	font-size: 24px;
	font-weight: bold;
}

.article-summary {
	font-size: 14px;
	font-weight: lighter;
}

.title-pandemic-hero {
	font-weight: bold;
	color: black;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #c2d4d7;
	font-size: 12px;
}

.title-culture-and-travel {
	font-weight: bold;
	color: black;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #c2d4d7;
	font-size: 12px;
}

.small-article {
	flex: 1;
}

.title-small-article {
	font-size: 16px;
	font-weight: bold;
}

.small-article-summary {
	font-size: 16px;
}

.title-debate-article {
	font-size: 15px;
	font-weight: bold;
}

.author-debate-article {
	font-size: 13px;
	font-weight: bold;
}

#debate-top-border {
	border-top: 4px solid red;
	padding-top: 20px;
}

#debate-border {
	border-top: 2px solid #DCDCDC;
	border-bottom: 4px solid #1E90FF;
}

.sponsored-article-title {
	font-size: 20px;
	font-weight: bold;
}